<% if party.count != 0 %>

  <div class="row">
    <div class="col-md-12">

      <div class="panel-group" id="accordion<%= url %>" role="tablist" aria-multiselectable="true">
        <% party.each_with_index do |p, index| %>
          <div class="panel panel-default panel-party box-shadow">

            <div class="panel-heading " role="tab" id="<%= "#{index}-#{p.category}" %>">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion<%= url %>" href="#<%= "#{url}-#{index}" %>" aria-expanded="true" aria-controls="<%= "#{url}-#{index}" %>">
                 <%= truncate( p.title, length: 35, separator: ' ', omission: '... ') %>
                 <span class="timecir">
                  <i class="fa fa-circle-o fa-3x"></i>
                  <p class="day"><%= p.day.day %></p>
                  <p class="month"><%= p.day.strftime("%b") %></p>
                 </span>
                </a>
              </h4>
            </div>

            <div id="<%= "#{url}-#{index}" %>" class="demo panel-collapse collapse" role="tabpanel" aria-labelledby="<%= "#{index}-#{p.category}" %>">
              <div class="panel-body no-pad">
                <%= link_to image_tag(p.cover.url(:mini)), "/party/#{p.id}" %>
                <h3><%= p.title %></h3>
                <p><%= p.party_type %></p>
              </div>
            </div>

          </div>
          <script>
            $('#<%= "#{url}" %>-0').addClass('in')
          </script>
        <% end %>

      </div>

    </div>
  </div>

<% end %>




