<% if beauty.count != 0 %>

<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag(beauty.first.cover.url(:mini)),"#{url}/#{beauty.first.id}" %>
</div>

<% end %>