<% if news.count != 0 %>
<div class="col-md-12 enter-tab">

  <h2><%= link_to news.first.title, "#{url}/#{news.first.id}" %></h2>

  <div class="row no-pad index-news-cards">

    <div class="col-md-5 news-cover no-pad">
      <%= link_to "#{url}/#{news.first.id}" do %>
        <%= image_tag(news.first.cover.url(:mini)) %>
        <% if news.first.video == true %>
          <i class="fa fa-play-circle-o is-video"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-7">

      <p class="content">
        <%= truncate( news.first.teaser, length: 135, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/#{@url}/#{news.first.id}" } %>
      </p>

      <p class="day"><%= news.first.post_date.strftime("%d, %B %Y") %></p>

    </div>

    <div class="col-md-12 news-foot">
      <span class="watch">
        <i class="fa fa-user"></i>
            <%= number_to_human(news.first.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>
      </span>
      <span class="social">
        <div class="ssk-group" data-url="<%= "#{request.original_url}#{url}/#{news.first.id}" %>" data-text="<%= "#{news.first.title}" %>">
          <p>Share it : </p>
          <a class="ssk ssk-facebook ssk-xs" href=""></a>
          <a class="ssk ssk-twitter ssk-xs" href=""></a>
          <a class="ssk ssk-google-plus ssk-xs" href=""></a>
          <a class="ssk ssk-pinterest ssk-xs" href=""></a>
        </div>
      </span>
    </div>

  </div>

  <div class="row">
    <% news[1..news.count].each do |x| %>
  <div class="col-md-4 sm-news-card">

    <div class="col-md-12 no-pad">
      <%= link_to "#{url}/#{x.id}" do %>
        <%= image_tag(x.cover.url(:mini)) %>
        <% if news.first.video == true %>
          <i class="fa fa-play-circle-o is-video"></i>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-12 content no-pad">
      <div class="col-md-12 sm-news-card-bot" style="height: 131px;">
        <h4 class="title"><%= link_to x.title, "#{url}/#{x.id}" %></h4>
        <p class="sub-title">
          <%= truncate( x.teaser, length: 65, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/#{url}/#{x.id}" } %>
        </p>
        <p class="content-p">
          <%= x.post_date.strftime("%d, %B %Y") %>
        </p>
      </div>
      <div class="col-md-12 sm-news-card-box no-pad">
        <span class="social">
        <div class="ssk-group" data-url="<%= "#{request.original_url}#{url}/#{x.id}" %>" data-text="<%= "#{x.title}" %>">
          <p>
            <i class="fa fa-user"></i>
            <%= number_to_human(x.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>
          </p>
          <a class="ssk ssk-pinterest ssk-xs" href=""></a>
          <a class="ssk ssk-google-plus ssk-xs" href=""></a>
          <a class="ssk ssk-twitter ssk-xs" href=""></a>
          <a class="ssk ssk-facebook ssk-xs" href=""></a>
        </div>
      </span>
      </div>
    </div>
  </div>
  <% end %>
  </div>

</div>

<% end %>