<% title "Home" %>

<div class="row visible-xs">
  <!-- Place somewhere in the <body> of your page -->
  <div class="flexslider" style="margin-bottom: 15px;">
    <ul class="slides">
      <% @sample.each do |s| %>
        <li>
          <%= image_tag s.cover.url(:mini) %>
          <p class="flex-caption"><%= link_to(s.title, "/#{getNewsUrl(s.category.id)}/#{s.id}", :class => "link-slide") %></p>
        </li>
      <% end %>
    </ul>
  </div>
  <style type="text/css">
  .flex-caption {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 366px;
    text-indent: 20px;
    position: absolute;
    bottom: 0;
    background: rgba(100, 51, 148, 0.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 24px;
    line-height: 18px;
  }
  .link-slide{
    width: 100%;
  }
  </style>
  <script>
    $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: false
    });
  });
  </script>
</div>

<div class="row">

  <div class="col-md-6 sm-pad">
<!-- ======================================== Entertainment ===================================================== -->
    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Entertainment News
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad box-shadow" style="margin-top: 10px; margin-bottom: 15px;">
      <ul class="nav nav-tabs tabs-one" role="tablist">
        <li class="active" role="presentation" style="width: 24%;">
          <a aria-controls="gossip" aria-expanded="true" data-toggle="tab" href="#gossip" id="gossip-tab" role="tab"> Hot Topics </a>
        </li>
        <li role="presentation" style="width: 20%;">
          <a aria-controls="hotclip" aria-expanded="false" data-toggle="tab" href="#hotclip" id="hotclip-tab" role="tab"> Hot Clip </a>
        </li>
        <li role="presentation" style="width: 18%;">
          <a aria-controls="movie" aria-expanded="false" data-toggle="tab" href="#movie" id="movie-tab" role="tab"> Movie </a>
        </li>
        <li role="presentation" style="width: 19%;">
          <a aria-controls="lakorn" aria-expanded="false" data-toggle="tab" href="#lakorn" id="lakorn-tab" role="tab"> Lakorn </a>
        </li>
        <li role="presentation" style="width: 19%;">
          <a aria-controls="music" aria-expanded="false" data-toggle="tab" href="#music" id="music-tab" role="tab"> Music </a>
        </li>
      </ul>

      <div class="tab-content">
        <div aria-labelledby="gossip-tab" class="tab-pane fade active in" id="gossip" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @gossip, :url => "gossip" } %>
        </div>
        <div aria-labelledby="hotclip-tab" class="tab-pane fade" id="hotclip" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @hot_clip, :url => "hotclip" } %>
        </div>
        <div aria-labelledby="movie-tab" class="tab-pane fade" id="movie" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @movie, :url => "movie" } %>
        </div>
        <div aria-labelledby="lakorn-tab" class="tab-pane fade" id="lakorn" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @lakorn, :url => "lakorn" } %>
        </div>
        <div aria-labelledby="music-tab" class="tab-pane fade" id="music" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @music, :url => "music" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 sm-pad">
<!-- ======================================== Party ===================================================== -->
    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Party
        </span>
      </div>
    </div>

    <style>
      .panel-heading .accordion-toggle:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "\e114";    /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: rgba(160, 55, 187, 1);         /* adjust as needed */
        font-size: 1em;
      }
      .panel-heading .accordion-toggle.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\e080";    /* adjust as needed, taken from bootstrap.css */
      }
    </style>

    <div class="col-md-12 no-pad" style="margin-top: 10px;">

      <ul class="nav nav-tabs tabs-two" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="calendar" aria-expanded="true" data-toggle="tab" href="#calendar" id="calendar-tab" role="tab">Party Calendar</a>
        </li>
        <li role="presentation">
          <a aria-controls="chill" aria-expanded="false" data-toggle="tab" href="#chill" id="chill-tab" role="tab">Chill 2 Night</a>
        </li>
        <li role="presentation">
          <a aria-controls="afterparty" aria-expanded="false" data-toggle="tab" href="#afterparty" id="afterparty-tab" role="tab">After Party</a>
        </li>

      </ul>

      <div class="tab-content">
        <div aria-labelledby="calendar-tab" class="tab-pane fade active in" id="calendar" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @calendar, :url => "party" } %>
        </div>
        <div aria-labelledby="chill-tab" class="tab-pane fade" id="chill" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @chill, :url => "chill" } %>
        </div>
        <div aria-labelledby="afterparty-tab" class="tab-pane fade" id="afterparty" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @after_party, :url => "after" } %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2 sm-pad hidden-xs">
    <%= link_to image_tag("200.png", :class => "ads") , "#" %>
  </div>

</div>

<div class="row" style="margin-bottom: 10px;">
<!-- ======================================== Society ===================================================== -->
  <div class="col-md-4 sm-pad">

    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Society
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad music-cards box-shadow">
      <%= render :partial => 'index_music', :locals => { :music => @society, :url => "society" } %>
    </div>

  </div>

<!-- ======================================== My Idol ===================================================== -->
  <div class="col-md-4 sm-pad">

      <div class="col-md-12 no-pad">
        <div class="content-head">
          <span class="content">
            Variety
          </span>
        </div>
      </div>

      <div class="col-md-12 no-pad top-idol music-cards box-shadow visible-xs">
        <% if @idol.count >= 3 %>
          <% @idol.each do |i| %>
            <div class="col-md-12 music-tab no-pad" style="margin-bottom: 10px;">

              <div class="col-md-12 no-pad index-music-cards">
                <div class="col-md-12 no-pad index-music-cards-top box-shadow">
                  <h3><%= link_to i.title, "/myidol/#{i.id}" %></h3>
                </div>

                <div class="col-md-12 box-shadow index-music-cards-middle">
                  <p class="watch">
                    <i class="fa fa-user"></i>
                    <%= number_to_human(i.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>

                  </p>
                  <span class="social">
                    <div class="ssk-group" data-url="<%= "#{request.original_url}myidol/#{i.id}" %>" data-text="<%= "#{i.title}" %>" >
                      <a class="ssk ssk-facebook ssk-xs" href=""></a>
                      <a class="ssk ssk-twitter ssk-xs" href=""></a>
                      <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                      <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                    </div>
                  </span>
                </div>

                <div class="col-md-12 box-shadow no-pad index-music-cards-bot">
                  <div class="col-md-6 box-shadow no-pad">
                    <%= link_to image_tag(i.cover.url(:mini)), "/myidol/#{i.id}" %>
                  </div>
                  <div class="col-md-6">
                    <h3> <%= i.title %> </h3>
                    <p> <%= truncate( i.teaser,
                              length: 57,
                              separator: ' ',
                              omission: '... ') {
                                link_to "อ่านต่อ",  "/myidol/#{i.id}"
                            } %> </p>
                  </div>
                  <span class="tri"></span>
                </div>

              </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-md-12 no-pad top-idol box-shadow hidden-xs">
        <% if @idol.count >= 3 %>

          <div class="col-md-12 idol-card">
            <div class="row">
              <div class="col-md-12 cover no-pad">
                <%= link_to image_tag(@idol[0].cover.url(:mini)), "/myidol/#{@idol[0].id}" %>
              </div>
              <div class="col-md-12 content">
                <h3 style="margin-top: 10px;margin-bottom: 5px;"><%= link_to @idol[0].title, "/myidol/#{@idol[0].id}" %></h3>
                <p class="last"> <%= truncate( @idol[0].teaser, length: 160, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[0].id}" } %> </p>
              </div>
            </div>
          </div>

          <div class="col-md-12 idol-card" style="padding-bottom: 0;">
            <div class="row">
              <div class="col-md-7 cover no-pad">
                <%= link_to image_tag(@idol[1].cover.url(:mini)), "/myidol/#{@idol[1].id}" %>
              </div>
              <div class="col-md-5 content">
                <h3 class="first"><%= link_to @idol[1].title, "/myidol/#{@idol[1].id}" %></h3>
                <p class="first">
                  <%= truncate( @idol[1].teaser, length: 50, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[1].id}" } %>
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-12 idol-card" style="padding-bottom: 10px;padding-top: 10px;">
            <div class="row">
              <div class="col-md-7 content">
                <h3><%= link_to @idol[2].title, "/myidol/#{@idol[2].id}" %></h3>
                <p>
                  <%= truncate( @idol[2].teaser, length: 80, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[2].id}" } %>
                </p>
              </div>
              <div class="col-md-5 cover no-pad">
                <%= link_to image_tag(@idol[2].cover.url(:mini)), "/myidol/#{@idol[1].id}" %>
              </div>
            </div>
          </div>

        <% end %>
      </div>

  </div>

<!-- ======================================== Beauty ===================================================== -->
  <div class="col-md-4 sm-pad">
    <div class="row">
      <div class="col-md-12">
        <div class="content-head">
          <span class="content">
            Beauty By Stunning
          </span>
        </div>

        <div class="col-md-12 no-pad beauty-cards box-shadow hidden-xs">
          <%= render :partial => 'index_beauty', :locals => { :beauty => @beauty, :url => "beauty" } %>
        </div>

        <div class="col-md-12 no-pad top-idol music-cards box-shadow visible-xs">
          <% if @beauty.count >= 3 %>
            <% @beauty.limit(3).each do |i| %>
              <div class="col-md-12 music-tab no-pad" style="margin-bottom: 10px;">

                <div class="col-md-12 no-pad index-music-cards">
                  <div class="col-md-12 no-pad index-music-cards-top box-shadow">
                    <h3><%= link_to i.title, "/beauty/#{i.id}" %></h3>
                  </div>

                  <div class="col-md-12 box-shadow index-music-cards-middle">
                    <p class="watch">
                      <i class="fa fa-user"></i>
                      <%= number_to_human(i.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>

                    </p>
                    <span class="social">
                      <div class="ssk-group" data-url="<%= "#{request.original_url}beauty/#{i.id}" %>" data-text="<%= "#{i.title}" %>" >
                        <a class="ssk ssk-facebook ssk-xs" href=""></a>
                        <a class="ssk ssk-twitter ssk-xs" href=""></a>
                        <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                        <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                      </div>
                    </span>
                  </div>

                  <div class="col-md-12 box-shadow no-pad index-music-cards-bot">
                    <div class="col-md-6 box-shadow no-pad">
                      <%= link_to image_tag(i.cover.url(:mini)), "/beauty/#{i.id}" %>
                    </div>
                    <div class="col-md-6">
                      <h3> <%= i.title %> </h3>
                      <p> <%= truncate( i.teaser,
                                length: 57,
                                separator: ' ',
                                omission: '... ') {
                                  link_to "อ่านต่อ",  "/beauty/#{i.id}"
                              } %> </p>
                    </div>
                    <span class="tri"></span>
                  </div>

                </div>

              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>


  <div class="row">
    <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
  </div>

<div class="row">
<!-- ======================================== Life ===================================================== -->
  <div class="col-md-4 sm-pad">

    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          LifeStyle
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad lifestyle-cards box-shadow hidden-xs">
      <%= render :partial => 'index_lifestyle', :locals => { :life => @life_style, :url => "lifestyle" } %>
    </div>

    <div class="col-md-12 no-pad top-idol music-cards box-shadow visible-xs">
      <% if @life_style.count >= 3 %>
        <% @life_style.limit(3).each do |i| %>
          <div class="col-md-12 music-tab no-pad" style="margin-bottom: 10px;">

            <div class="col-md-12 no-pad index-music-cards">
              <div class="col-md-12 no-pad index-music-cards-top box-shadow">
                <h3><%= link_to i.title, "/lifestyle/#{i.id}" %></h3>
              </div>

              <div class="col-md-12 box-shadow index-music-cards-middle">
                <p class="watch">
                  <i class="fa fa-user"></i>
                  <%= number_to_human(i.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>

                </p>
                <span class="social">
                  <div class="ssk-group" data-url="<%= "#{request.original_url}lifestyle/#{i.id}" %>" data-text="<%= "#{i.title}" %>" >
                    <a class="ssk ssk-facebook ssk-xs" href=""></a>
                    <a class="ssk ssk-twitter ssk-xs" href=""></a>
                    <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                    <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                  </div>
                </span>
              </div>

              <div class="col-md-12 box-shadow no-pad index-music-cards-bot">
                <div class="col-md-6 box-shadow no-pad">
                  <%= link_to image_tag(i.cover.url(:mini)), "/lifestyle/#{i.id}" %>
                </div>
                <div class="col-md-6">
                  <h3> <%= i.title %> </h3>
                  <p> <%= truncate( i.teaser,
                            length: 57,
                            separator: ' ',
                            omission: '... ') {
                              link_to "อ่านต่อ",  "/lifestyle/#{i.id}"
                          } %> </p>
                </div>
                <span class="tri"></span>
              </div>

            </div>

          </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-4 sm-pad">
<!-- ======================================== Ads ===================================================== -->
    <div>
      <%= link_to image_tag("450.png", :class => "ads") , "#" %>
    </div>

<!-- ======================================== Travel ===================================================== -->
    <div class="col-md-12 no-pad travel-margin">
      <div class="content-head hidden-xs">
        <span class="content">
          Travel By Sense & Scene
        </span>
      </div>

      <div class="content-head visible-xs">
        <span class="content" style="padding-right: 0px;">
          Travel By Sense & Scene
        </span>
      </div>

      <div class="col-md-12 no-pad top-idol music-cards box-shadow visible-xs">
        <% if @travel.count >= 3 %>
          <% @travel.limit(3).each do |i| %>
            <div class="col-md-12 music-tab no-pad" style="margin-bottom: 10px;">

              <div class="col-md-12 no-pad index-music-cards">
                <div class="col-md-12 no-pad index-music-cards-top box-shadow">
                  <h3><%= link_to i.title, "/travel/#{i.id}" %></h3>
                </div>

                <div class="col-md-12 box-shadow index-music-cards-middle">
                  <p class="watch">
                    <i class="fa fa-user"></i>
                    <%= number_to_human(i.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %>
                  </p>
                  <span class="social">
                    <div class="ssk-group" data-url="<%= "#{request.original_url}travel/#{i.id}" %>" data-text="<%= "#{i.title}" %>" >
                      <a class="ssk ssk-facebook ssk-xs" href=""></a>
                      <a class="ssk ssk-twitter ssk-xs" href=""></a>
                      <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                      <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                    </div>
                  </span>
                </div>

                <div class="col-md-12 box-shadow no-pad index-music-cards-bot">
                  <div class="col-md-6 box-shadow no-pad">
                    <%= link_to image_tag(i.cover.url(:mini)), "/travel/#{i.id}" %>
                  </div>
                  <div class="col-md-6">
                    <h3> <%= i.title %> </h3>
                    <p> <%= truncate( i.teaser,
                              length: 57,
                              separator: ' ',
                              omission: '... ') {
                                link_to "อ่านต่อ",  "/travel/#{i.id}"
                            } %> </p>
                  </div>
                  <span class="tri"></span>
                </div>

              </div>

            </div>
          <% end %>
        <% end %>
      </div>

      <% if @travel.count != 0 %>
        <div class="col-md-12 no-pad travel-cards box-shadow hidden-xs">
          <div class="col-md-12 no-pad full-card box-shadow">
            <div class="col-md-5 warp-img no-pad">
              <%= link_to image_tag(@travel.first.cover.url(:mini)), "/travel/#{@travel.first.id}" %>
            </div>
            <div class="col-md-7 no-pad">
              <h3><%= link_to @travel.first.title, "/travel/#{@travel.first.id}" %></h3>
              <p>
                <%= truncate( @travel.first.teaser, length: 80, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/travel/#{@travel.first.id}" } %>
              </p>
              <p>
                <span class="social">
                  <div class="ssk-group" data-url="<%= "#{request.original_url}/#{@travel.first.id}" %>" data-text="<%= "#{@travel.first.title}" %>" >
                    <a class="ssk ssk-facebook ssk-xs" href=""></a>
                    <a class="ssk ssk-twitter ssk-xs" href=""></a>
                    <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                    <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                  </div>
                </span>
              </p>
            </div>
          </div>
        <% @travel[1..@travel.count].each do |t| %>
          <div class="col-md-4 sm-pad mini-card">
            <div class="col-md-12 no-pad warp-img">
              <%= link_to image_tag(t.cover.url(:mini)), "/travel/#{t.id}" %>
            </div>

            <div class="col-md-12 no-pad">
              <p>
                <%= truncate( t.teaser, length: 40, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/travel/#{t.id}" } %>
              </p>
            </div>
          </div>
        <% end %>

        </div>
      <% end %>

    </div>

  </div>


  <div class="col-md-4 sm-pad">
<!-- ======================================== Event ===================================================== -->
    <div class="row">
      <div class="col-md-12">

        <div class="content-head">
          <span class="content">
            Event
          </span>
        </div>

        <div class="col-md-12 event-cards box-shadow">
          <div class="col-md-12 sm-pad">
            <% @event.each do |e| %>
              <div class="col-md-12 card box-shadow">
                <div class="col-md-2 no-pad poster">
                  <%= link_to image_tag(e.poster.url(:mini)), "/event/#{e.id}" %>
                </div>
                <div class="col-md-10 content">
                  <h3> <%= link_to e.title, "/event/#{e.id}" %> </h3>
                  <p> Location: <%= e.location %> </p>
                  <p> date: <%= e.day %> </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <div class="col-md-12">
        <%= link_to image_tag("450.png", :class => "ads last-ads") , "#" %>
      </div>
    </div>
  </div>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {
    var li = $('.tabs-one li').length - 1;
    var cal = 0;

    // Init Social Share Kit
    SocialShareKit.init();

    // setInterval(function(){
    //   $('.tabs-one li:eq('+ cal +') a').tab('show')
    //   if (cal < li ) {
    //     cal ++;
    //   }else{
    //     cal = 0;
    //   };
    // }, 8000)

  });
</script>



<div id="allcoderpopup">
  <h1>Join us on Facebook</h1>

  <div class="htmlarea">

    <div class="fb-page" data-href="https://www.facebook.com/736301666482034" data-width="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/736301666482034"><a href="https://www.facebook.com/736301666482034">Wow2mouth</a></blockquote></div></div>
  </div>

  <div id="acfooter">
    Please wait..<span>10</span> Seconds
    <a href="#" id="acclose" onclick="return false;">Cancel</a>
  </div>

</div>



