<% title "Home" %>


<div class="row">

  <div class="col-md-6 sm-pad">
<!-- ======================================== Entertainment ===================================================== -->
    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Entertainment News
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad box-shadow" style="margin-top: 10px;">
      <ul class="nav nav-tabs tabs-one" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="gossip" aria-expanded="true" data-toggle="tab" href="#gossip" id="gossip-tab" role="tab"> Gossip </a>
        </li>
        <li role="presentation">
          <a aria-controls="hotclip" aria-expanded="false" data-toggle="tab" href="#hotclip" id="hotclip-tab" role="tab"> Hot Clip </a>
        </li>
        <li role="presentation">
          <a aria-controls="movie" aria-expanded="false" data-toggle="tab" href="#movie" id="movie-tab" role="tab"> Movie </a>
        </li>
        <li role="presentation">
          <a aria-controls="lakorn" aria-expanded="false" data-toggle="tab" href="#lakorn" id="lakorn-tab" role="tab"> Lakorn </a>
        </li>
        <li role="presentation">
          <a aria-controls="music" aria-expanded="false" data-toggle="tab" href="#music" id="music-tab" role="tab"> Music </a>
        </li>
      </ul>

      <div class="tab-content">
        <div aria-labelledby="gossip-tab" class="tab-pane fade active in" id="gossip" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @gossip, :url => "gossip" } %>
        </div>
        <div aria-labelledby="hotclip-tab" class="tab-pane fade" id="hotclip" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @hot_clip, :url => "hotclip" } %>
        </div>
        <div aria-labelledby="movie-tab" class="tab-pane fade" id="movie" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @movie, :url => "movie" } %>
        </div>
        <div aria-labelledby="lakorn-tab" class="tab-pane fade" id="lakorn" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @lakorn, :url => "lakorn" } %>
        </div>
        <div aria-labelledby="music-tab" class="tab-pane fade" id="music" role="tabpanel">
          <%= render :partial => 'index_news', :locals => { :news => @music, :url => "music" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 sm-pad">
<!-- ======================================== Party ===================================================== -->
    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Party
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad" style="margin-top: 10px;">

      <ul class="nav nav-tabs tabs-two" role="tablist">
        <li class="active" role="presentation">
          <a aria-controls="calendar" aria-expanded="true" data-toggle="tab" href="#calendar" id="calendar-tab" role="tab">Party Calendar</a>
        </li>
        <li role="presentation">
          <a aria-controls="chill" aria-expanded="false" data-toggle="tab" href="#chill" id="chill-tab" role="tab">Chill 2 Night</a>
        </li>
        <li role="presentation">
          <a aria-controls="afterparty" aria-expanded="false" data-toggle="tab" href="#afterparty" id="afterparty-tab" role="tab">After Party</a>
        </li>

      </ul>

      <div class="tab-content">
        <div aria-labelledby="calendar-tab" class="tab-pane fade active in" id="calendar" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @calendar, :url => "party" } %>
        </div>
        <div aria-labelledby="chill-tab" class="tab-pane fade" id="chill" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @chill, :url => "chill" } %>
        </div>
        <div aria-labelledby="afterparty-tab" class="tab-pane fade" id="afterparty" role="tabpanel">
          <%= render :partial => 'index_party', :locals => { :party => @after_party, :url => "after" } %>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2 sm-pad">
    <%= link_to image_tag("200.png", :class => "ads") , "#" %>
  </div>

</div>

<div class="row" style="margin-bottom: 10px;">
<!-- ======================================== Society ===================================================== -->
  <div class="col-md-4 sm-pad">

    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Society
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad music-cards box-shadow">
      <%= render :partial => 'index_music', :locals => { :music => @society, :url => "music" } %>
    </div>

  </div>

<!-- ======================================== My Idol ===================================================== -->
  <div class="col-md-4 sm-pad">

      <div class="col-md-12 no-pad">
        <div class="content-head">
          <span class="content">
            My Idol
          </span>
        </div>
      </div>

      <div class="col-md-12 no-pad top-idol box-shadow">
        <% if @idol.count != 0 %>
          <div class="col-md-12 idol-card">
            <div class="row">
              <div class="col-md-7 cover no-pad">
                <%= link_to image_tag(@idol[0].cover.url(:mini)), "/myidol/#{@idol[0].id}" %>
              </div>
              <div class="col-md-5 content">
                <h3 class="first"><%= link_to @idol[0].title, "/myidol/#{@idol[0].id}" %></h3>
                <p class="first">
                  <%= truncate( @idol[0].teaser, length: 50, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[0].id}" } %>
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-12 idol-card">
            <div class="row">
              <div class="col-md-7 content">
                <h3><%= link_to @idol[1].title, "/myidol/#{@idol[1].id}" %></h3>
                <p>
                  <%= truncate( @idol[1].teaser, length: 80, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[1].id}" } %>
                </p>
              </div>
              <div class="col-md-5 cover no-pad">
                <%= link_to image_tag(@idol[1].cover.url(:mini)), "/myidol/#{@idol[1].id}" %>
              </div>
            </div>
          </div>

          <div class="col-md-12 idol-card">
            <div class="row">
              <div class="col-md-12 cover no-pad">
                <%= link_to image_tag(@idol[2].cover.url(:mini)), "/myidol/#{@idol[2].id}" %>
              </div>
              <div class="col-md-12 content">
                <h3 style="margin-top: 10px;margin-bottom: 5px;"><%= link_to @idol[2].title, "/myidol/#{@idol[2].id}" %></h3>
                <p class="last"> <%= truncate( @idol[2].teaser, length: 160, separator: ' ', omission: '... ') { link_to "อ่านต่อ", "/myidol/#{@idol[2].id}" } %> </p>
              </div>
            </div>
          </div>

        <% end %>
      </div>

  </div>

<!-- ======================================== Beauty ===================================================== -->
  <div class="col-md-4 sm-pad">
    <div class="row">
      <div class="col-md-12">
        <div class="content-head">
          <span class="content">
            Beauty By Stunning
          </span>
        </div>

        <div class="col-md-12 no-pad beauty-cards box-shadow">
          <%= render :partial => 'index_beauty', :locals => { :beauty => @beauty, :url => "beauty" } %>
        </div>

      </div>
    </div>
  </div>
</div>


  <div class="row">
    <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
  </div>

<div class="row">
<!-- ======================================== Life ===================================================== -->
  <div class="col-md-4 sm-pad">

    <div class="col-md-12 no-pad">
      <div class="content-head">
        <span class="content">
          Life Style
        </span>
      </div>
    </div>

    <div class="col-md-12 no-pad lifestyle-cards box-shadow">
      <%= render :partial => 'index_lifestyle', :locals => { :life => @life_style, :url => "lifestyle" } %>
    </div>

  </div>

  <div class="col-md-4 sm-pad">
<!-- ======================================== Ads ===================================================== -->
    <div>
      <%= link_to image_tag("450.png", :class => "ads") , "#" %>
    </div>

<!-- ======================================== Travel ===================================================== -->
    <div class="col-md-12 no-pad travel-margin">
      <div class="content-head">
        <span class="content">
          Travel By Sense & Scene
        </span>
      </div>

      <% if @travel.count != 0 %>
        <div class="col-md-12 no-pad travel-cards box-shadow">
          <div class="col-md-12 no-pad full-card box-shadow">
            <div class="col-md-5 warp-img no-pad">
              <%= link_to image_tag(@travel.first.cover.url(:mini)), "/travel/#{@travel.first.id}" %>
            </div>
            <div class="col-md-7 no-pad">
              <h3><%= link_to @travel.first.title, "/travel/#{@travel.first.id}" %></h3>
              <p><%= @travel.first.teaser %></p>
              <p>
                <span class="social">
                  <div class="ssk-group" data-url="<%= "#{request.original_url}/#{@travel.first.id}" %>" data-text="<%= "#{@travel.first.title}" %>" >
                    <a class="ssk ssk-facebook ssk-xs" href=""></a>
                    <a class="ssk ssk-twitter ssk-xs" href=""></a>
                    <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                    <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                  </div>
                </span>
              </p>
            </div>
          </div>
        <% @travel[1..@travel.count].each do |t| %>
          <div class="col-md-4 sm-pad mini-card">
            <div class="col-md-12 no-pad warp-img">
              <%= link_to image_tag(@travel.first.cover.url(:mini)), "/travel/#{@travel.first.id}" %>
            </div>

            <div class="col-md-12 no-pad">
              <p><%= @travel.first.teaser %></p>
            </div>
          </div>
        <% end %>

        </div>
      <% end %>

    </div>

  </div>


  <div class="col-md-4 sm-pad">
<!-- ======================================== Event ===================================================== -->
    <div class="row">
      <div class="col-md-12">

        <div class="content-head">
          <span class="content">
            Event
          </span>
        </div>

        <div class="col-md-12 event-cards box-shadow">
          <div class="col-md-12 sm-pad">
            <% @event.each do |e| %>
              <div class="col-md-12 card box-shadow">
                <div class="col-md-2 no-pad poster">
                  <%= link_to image_tag(e.poster.url(:mini)), "/event/#{e.id}" %>
                </div>
                <div class="col-md-10 content">
                  <h3> <%= link_to e.title, "/event/#{e.id}" %> </h3>
                  <p> Location: <%= e.location %> </p>
                  <p> date: <%= e.day %> </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>

      <div class="col-md-12">
        <%= link_to image_tag("450.png", :class => "ads last-ads") , "#" %>
      </div>
    </div>
  </div>

  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {
  // Init Social Share Kit
    SocialShareKit.init();

    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
  });
</script>
