<div class="container-fluid footerbot">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Wow 2 Mouth</h4>
      <ul>
        <%= nav_link("Gossip", gossip_path) %>
        <%= nav_link("Music", music_path) %>
        <%= nav_link("Party Calendar", calendar_path) %>
        <%= nav_link("Event", event_path) %>
      </ul>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Contact</h4>
      <p style="text-indent: 20px;">
        Paramita Publishing Co., Ltd.
        44 Soi 59 Sukhumvit Rd. Klongton-nua, Bangkok 10110
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Copyright</h4>
      <p>
        © 2015 wow2mouth. ALL RIGHTS RESERVED
      </p>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 no-pad">
      <h4 class="footertop">Subscribe</h4>
      <p class="center">
        <%= link_to "https://www.facebook.com/pages/Wow2mouth/736301666482034" do %>
          <i class="fa fa-facebook-square fa-2x"></i>
        <% end %>

        <%= link_to "#" do %>
          <i class="fa fa-twitter-square fa-2x"></i>
        <% end %>

        <%= link_to "#" do %>
          <i class="fa fa-youtube-square fa-2x"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>