<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
      <%= image_tag "1500_m.png", :class => "ads" %>
    </div>
  </div>
</div>

<nav class="navbar navbar-default nav-dara">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-2">
      <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "logo.png", :class => "hidden-xs" %>
      <%= image_tag "logo.png", :class => "visible-xs" %>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            ข่าวบันเทิง
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <%= nav_link("ซุบซิบ", gossip_path) %>

            <li class="divider" role="separator"></li>
            <li>
              <a href="#">คลิปเด่น</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">ภาพยนตร์</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">ละคร</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">เพลง</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            ปาร์ตี้
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">ปฎิทินปาร์ตี้</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">สบายๆยามค่ำคืน</a>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <a href="#">After Party</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Society</a>
        </li>
        <li>
          <a href="#">My idol</a>
        </li>
        <li>
          <a href="#">Beauty by Stunning</a>
        </li>

        <%= nav_link("Life Style", lifestyle_path) %>

        <li>
          <a href="#">Event</a>
        </li>
        <li>
          <a href="#">Travel by Sense&Scene</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg" style="width: 17%;">
        <div id="sb-search" class="sb-search">
          <%= form_tag("/search", method: "post") do %>
              <input class="sb-search-input" placeholder="Search" type="text" value="" name="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"></span>
          <% end %>
        </div>
      </ul>
    </div>
<!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
</nav>

<script>
  new UISearch( document.getElementById( 'sb-search' ) );
</script>