<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
      <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
    </div>
  </div>
</div>

<nav class="navbar navbar-default nav-dara">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-2">
      <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png", :class => "hidden-xs") , root_path %>
      <%= link_to image_tag("logo.png", :class => "visible-xs") , root_path %>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-1">
      <ul class="nav navbar-nav">

        <li class="dropdown <%= 'current' if current_page?(gossip_path) || current_page?(hotclip_path) || current_page?(movie_path) || current_page?(lakorn_path) || current_page?(music_path) %>">

          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            Entertainment
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <%= nav_link("Hot Topics", gossip_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("Hot Clip", hotclip_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("Movie", movie_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("Lakorn", lakorn_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("Music", music_path) %>

          </ul>
        </li>
        <li class="dropdown <%= 'current' if current_page?(calendar_path) || current_page?(chill_path) || current_page?(after_party_path) %>">

          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            Party
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">

            <%= nav_link("Party Calendar", calendar_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("Chill 2 Night", chill_path) %>

            <li class="divider" role="separator"></li>
            <%= nav_link("After Party", after_party_path) %>

          </ul>
        </li>
        <%= nav_link("Variety", myidol_path) %>

        <%= nav_link("Society", society_path) %>

        <%= nav_link("Beauty By Stunning", beauty_path) %>

        <%= nav_link("Lifestyle", lifestyle_path) %>

        <%= nav_link("Event", event_path) %>

        <%= nav_link("Travel By Sense & Scene", travel_path) %>
      </ul>
      <ul class="nav navbar-nav navbar-right visible-md visible-lg" style="width: 15%;">
        <div class="sb-search" id="sb-search">
          <%= form_tag("/search", method: "post") do %>
          <input class="sb-search-input" id="search" name="search" placeholder="Search" type="text" value="">
          <input class="sb-search-submit" type="submit" value="">
          <span class="sb-icon-search"></span>
          <% end %>
        </div>
      </ul>
    </div>
<!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
<span class="" id="date_time"></span>
</nav>

<script type="text/javascript">window.onload = date_time('date_time');</script>
<script>
  new UISearch(document.getElementById('sb-search'));
</script>




