<% title @head || "News & Entertainment" %>

<div class="row">
  <div class="col-md-9">

    <div class="row">
      <div class="content-head">
        <span class="content">
          <%= @head %>
        </span>
      </div>
    </div>

    <div class="row box-shadow row-party">
      <div class="col-md-7 party-cover">
        <%= link_to image_tag(@first.cover.url), "/party/#{@first.id}" %>
      </div>
      <div class="col-md-5 party-title">
        <h2><%= link_to @first.title, "/party/#{@first.id}" %></h2>
        <p class="day"><%= @first.day.strftime("%d, %B %Y") %></p>
        <p class="content">
          <%= @first.description %>
        </p>
      </div>

      <div class="col-md-12 party-foot">
        Share it : &nbsp;
        <i class="fa fa-envelope-o fa-1x">&nbsp;</i>
        <i class="fa fa-facebook fa-1x">&nbsp;</i>
        <i class="fa fa-twitter fa-1x">&nbsp;</i>
        <i class="fa fa-rss fa-1x">&nbsp;</i>
      </div>
    </div>

    <div class="row box-shadow">

      <div class="col-md-12 party-wrap">

        <% @party[1..@party.count].each do |x| %>
        <div class="col-md-3 party-card">
          <div class="col-md-12 box-shadow">
            <div class="row">
              <div class="day">
                <p><%= x.day.strftime("%d") %></p>
                <p><%= x.day.strftime("%b") %></p>
              </div>

              <%= link_to image_tag(x.poster.url, :class => "party-card-img"), "party/#{x.id}" %>
            </div>
            <div class="row content">
              <div class="col-md-12 party-card-bot">
                <h4 class="title"><%= link_to x.title, "party/#{x.id}" %></h4>
                <p class="sub-title"><%= x.location %></p>
                <p class="content-p"><%= x.description %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div class="col-md-12">
          <%= paginate @party %>
        </div>
      </div>

    </div>

    <div class="row box-shadow">
      <div class="content-head">
        <span class="content gallery">
          Previous Party Gallery
        </span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 box-shadow gallery-wrap">

        <% @last.each do |x| %>

        <div class="col-md-4 gallery-card">
          <div class="col-md-12 box-shadow">
            <div class="row">
              <%= image_tag(x.cover.url ,:class => "gallery-card-img") %>
            </div>
            <div class="row content">
              <div class="col-md-12 gallery-card-bot">
                <h4 class="title"><%= x.title %></h4>
                <p class="sub-title"><%= x.location %></p>
                <p class="content-p"><%= x.day.strftime("%d %B %Y") %></p>
              </div>
            </div>
          </div>
        </div>

        <%end%>

        <div class="col-md-12">
          <%= paginate @party %>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-3">
    <div class="col-md-12">
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450_l.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
</div>