<% title @head || "News & Entertainment" %>

<div class="row pages">

  <div class="col-md-9 col-sm-9">
    <div class="row">
      <div class="content-head">
        <span class="content">
          <%= @title %>
        </span>
      </div>
    </div>

    <div class="row box-shadow contents">
      <div class="col-md-12">
        <h1 class="content-title">
          <%= @news.title %>
        </h1>

        <p class="sub-title">
          BY
          <span class="by"><%= @news.post_by %></span>
          on Date

          <span class="social">
            <div class="ssk-group" data-text="Share text default" data-url="<%= request.fullpath %>">
              <a class="ssk ssk-facebook" href=""></a>
              <a class="ssk ssk-twitter" href=""></a>
              <a class="ssk ssk-google-plus" href=""></a>
              <a class="ssk ssk-pinterest" href=""></a>
            </div>
          </span>
        </p>
      </div>

      <div class="col-md-12 cover no-pad">
        <%= image_tag( @news.cover.url ) %>
      </div>

      <div class="col-md-12 content">
        <%== @news.content %>
      </div>

      <div class="col-md-12 tags">
        <%= fa_icon 'tags' %>
        <a href="#">abc</a>
        <a href="#">def</a>
        <a href="#">hot</a>
        <a href="#">xxx</a>
      </div>
    </div>

    <div class="row">
      <div class="link-title">
        <%= link_to "View All", gossip_path, :class => "all" %>
        <%= link_to "BACK TO HOME PAGE", root_path, :class => "back" %>
      </div>
    </div>

 <% if @like_this.count != 0 %>
    <div class="row contents">
      <div class="col-md-12">
        <h3 class="content-title">
          You may also like this
        </h3>
      </div>

<!-- <div class="row"> -->
      <div class="col-md-12">
<!-- ####################################################################################### -->
        <% @like_this.each do |x| %>
        <div class="col-md-4">
          <div class="col-md-12 other-card">
            <div class="row head">
              <p class="title"><%= link_to x.title, "/#{@url}/#{x.id}" %></p>
              <p class="sub-title"><%= x.post_by %></p>
            </div>

            <div class="row cover no-pad">
              <div class="day">
                <p><%= x.post_date.strftime("%d") %></p>
                <p><%= x.post_date.strftime("%b") %></p>
              </div>
              <%= link_to image_tag(x.cover.url(:mini), :class => "card-img"), "/#{@url}/#{x.id}" %>
            </div>

            <div class="row content-col">
              <p class="content-text">
                <%= x.teaser %>
              </p>
            </div>

            <div class="row foot">
              <div class="watch">Watch : <%= x.impressionist_count %></div>
            </div>

          </div>
        </div>
        <% end %>
<!-- ####################################################################################### -->
      </div>

<!-- </div> -->

    </div>
 <% end %>
  </div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="col-md-3 col-sm-3">
    <div class="col-md-12">
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450_l.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
    </div>
  </div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>

<div class="row">
  <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
</div>

<script type="text/javascript">
$(document).ready(function () {

// Init Social Share Kit
  SocialShareKit.init();

});
</script>