<div class="container-fluid pages">
	<div class="row">

		<div class="col-md-9">
			<div class="row">
					<div class="content-head">
						<span class="content"> Entertainment </span>
					</div>
			</div>

			<div class="row contents">
				<div class="col-md-12">
					<h1 class="content-title">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit
					</h1>

					<p class="sub-title"> BY <span class="by">wow2mouth</span> on Date

						<span class="social">
							<div class="ssk-group"
									 data-url="www.google.com"
									 data-text="Share text default">
							    <a href="" class="ssk ssk-facebook"></a>
							    <a href="" class="ssk ssk-twitter"></a>
							    <a href="" class="ssk ssk-google-plus"></a>
							    <a href="" class="ssk ssk-pinterest"></a>
							</div>
						</span>
					</p>
				</div>

				<div class="col-md-12 cover no-pad">
					<%= image_tag("content-cover.jpeg") %>
				</div>

				<div class="col-md-12 content">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit. Suscipit cum deserunt perspiciatis quos harum ducimus laudantium accusamus facilis.</p>

						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				</div>

				<div class="col-md-12 tags">
					<%= fa_icon 'tags' %> <a href="#">abc</a> <a href="#">def</a> <a href="#">hot</a> <a href="#">xxx</a>
				</div>

			</div>

			<div class="row contents">
				<div class="col-md-12">
					<h3 class="content-title">
						You May also like this
					</h3>
				</div>

				<div class="row">
<!-- ####################################################################################### -->
					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>
<!-- ####################################################################################### -->

					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>

					<div class="col-md-4">
						<div class="col-md-12 no-pad other-card">
							<div class="row head">
								<p class="title">Lorem ipsum dolor</p>
								<p class="sub-title">Lorem ipsum dolor</p>
							</div>

							<div class="col-md-12 cover no-pad">
								<div class="day"> <p>13</p><p>june</p></div>
								<%= image_tag("card-cover.jpeg", :class => "card-img") %>
							</div>

							<div class="col-md-12 content-col">
								<p class="content-text">
									Soluta, dolorum aspernatur veniam. Ratione doloribus provident ut, expedita harum, eligendi suscipit.
								</p>
							</div>

							<div class="col-md-12 foot">
								<div class="watch">Watch : 12k</div>
							</div>

						</div>
					</div>

<!-- ####################################################################################### -->
				</div>

			</div>
		</div>

		<div class="col-md-3">
			<div class="col-md-12 ads">
				<h2>Ads</h2>
			</div>

			<div class="col-md-12 content-head space">
				<h3>VIEW ALL GOSSIP</h3>
			</div>

			<div class="col-md-12 contents space">
				<h4 class="content-title">
					Related News
				</h4>
<!-- ####################################################################################### -->
					<div class="col-md-12 related-news no-pad space">
						<%= image_tag("squre.jpeg", :class => "squre") %>
						<p class="text-overlay">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur expedita exercitationem laborum. Laborum assumenda tempore ab accusantium consequatur eos deserunt vel cupiditate repellendus minima debitis, illo pariatur nesciunt eius ullam!
						</p>
					</div>
<!-- ####################################################################################### -->
					<div class="col-md-12 related-news no-pad space">
						<%= image_tag("squre.jpeg", :class => "squre") %>
						<p class="text-overlay">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur expedita exercitationem laborum. Laborum assumenda tempore ab accusantium consequatur eos deserunt vel cupiditate repellendus minima debitis, illo pariatur nesciunt eius ullam!
						</p>
					</div>

					<div class="col-md-12 related-news no-pad space">
						<%= image_tag("squre.jpeg", :class => "squre") %>
						<p class="text-overlay">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur expedita exercitationem laborum. Laborum assumenda tempore ab accusantium consequatur eos deserunt vel cupiditate repellendus minima debitis, illo pariatur nesciunt eius ullam!
						</p>
					</div>
			</div>

			<div class="col-md-12 ads space">
				<h2>Ads</h2>
			</div>

		</div>

	</div>

	<div class="row">
		<div class="col-md-12 ads down">
			ads
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function (){

    // Init Social Share Kit
    SocialShareKit.init();

	});
</script>
