<%= title @title || "News & Entertainment" %>

<% @tag_title = @party.title  || 'Wow2Mouth' %>
<% @tag_url = "#{request.original_url}" %>
<% @tag_image = "http://www.wow2mouth.com#{@party.cover.url}"  || 'http://www.wow2mouth.com/assets/logo.png' %>
<% @tag_des = @party.description  || 'Update ข่าววงการบันเทิง ไลฟ์สไตล์ดารา อัพเดทเทรนฮิต แหล่งแฮงเอาท์ยามค่ำคืน' %>

<div class="row pages party-show">

  <div class="col-md-9 col-sm-9">
    <div class="row">
      <div class="content-head">
        <span class="content">
          <%= @head %>
        </span>
      </div>
    </div>

    <div class="row box-shadow contents">
      <div class="col-md-12 pm">
        <h1 class="content-title">
          <%= @title %>
        </h1>

        <p class="sub-title">
          View
          <span class="by"><%= @party.impressionist_count %></span>

          <span class="social">
            <div class="ssk-group" data-url="<%= "#{request.original_url}" %>" >
              <a class="ssk ssk-facebook" href=""></a>
              <a class="ssk ssk-twitter" href=""></a>
              <a class="ssk ssk-google-plus" href=""></a>
              <a class="ssk ssk-pinterest" href=""></a>
            </div>
          </span>
        </p>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9 party-show-top">
            <div class="col-md-12"> <p> <%= @party.description %> </p> </div>

            <div class="col-md-12 party-show-header"> <h2>Information</h2> </div>
            <div class="col-md-12">
              <p> <b>Date:</b> <%= @party.day.strftime("%d %B %Y") %> </p>
              <p> <b>Time:</b> <%= @party.day.strftime("%I:%M %p") %> </p>
              <p> <b>Location:</b> <%= @party.location %> </p>
              <p> <b>Type:</b> <%= @party.party_type %> </p>
            </div>

            <div class="col-md-12 party-show-header"> <h2>Description</h2> </div>
            <div class="col-md-12 show-content">
                <%== @party.content %>
            </div>

          </div>

          <div class="col-md-3 party-poster">
            <h5><%= @party.title %></h5>
            <%= image_tag(@party.poster.url) %>
          </div>
        </div>
      </div>

      <div class="col-md-12 cover no-pad">
        <%= image_tag(@party.cover.url) %>
      </div>

      <div class="col-md-12 party-show-bot">
        <div class="col-md-12 party-show-header">
          <h2>Party Style</h2>
        </div>
        <div class="col-md-12 show-content">
          <%== @party.party_style %>
        </div>
      </div>

      <div class="col-md-12 tags">
        <%= fa_icon 'tags' %>

        <% @party.tags.each do |n| %>
          <span class="label label-dara"><%= n.name %></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="link-title party-show-top">
        <%= link_to "View All", "/party/calendar", :class => "all" %>
        <%= link_to "BACK TO HOME PAGE", root_path, :class => "back" %>
      </div>
    </div>

    <div class="row box-shadow rm">

      <div class="col-md-12 party-wrap party-wrap-show">
        <div class="row">
          <div class="col-md-12 party-show-header">
            <h3>You May Also Like This</h3>
          </div>
        </div>

        <div class="col-sm-12">
          <% @like_this.each do |x| %>

          <div class="col-md-3 party-card">
            <div class="col-md-12 box-shadow">

              <div class="row">
                <div class="day">
                  <p><%= x.day.strftime("%d") %></p>
                  <p><%= x.day.strftime("%B") %></p>
                </div>
                <%= link_to image_tag(x.poster.url(:mini), :class => "party-card-img"), "/#{@url}/#{x.id}" %>
              </div>

              <div class="row content">
                <div class="col-md-12 party-card-bot">
                  <h4 class="title"><%= link_to x.title, "/#{@url}/#{x.id}" %></h4>
                  <p class="sub-title"><%= x.location %></p>
                  <p class="content-p"><%= x.description %></p>
                </div>
              </div>

            </div>
          </div>

          <% end %>
        </div>

      </div>

    </div>

  </div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="col-md-3 col-sm-3">
    <div class="col-md-12">
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450_l.png", :class => "ads") , "#" %>
      </div>
      <div class="row">
        <%= link_to image_tag("450.png", :class => "ads") , "#" %>
      </div>
    </div>
  </div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>

<div class="row">
  <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
</div>

</div>
