<% title @head || "News & Entertainment" %>

<% @tag_title = @head || 'Wow2Mouth' %>
<% @tag_url = "#{request.original_url}" %>
<% @tag_image = "http://www.wow2mouth.com#{@news.cover.url}"  || 'http://www.wow2mouth.com/assets/logo.png' %>
<% @tag_des = @news.teaser  || 'Update ข่าววงการบันเทิง ไลฟ์สไตล์ดารา อัพเดทเทรนฮิต แหล่งแฮงเอาท์ยามค่ำคืน' %>

<div class="row pages">

  <div class="col-md-9 col-sm-9">
    <div class="row">
      <div class="content-head">
        <span class="content">
          <%= @title %>
        </span>
      </div>
    </div>
    <div class="row box-shadow contents">
      <div class="col-md-12">
        <h1 class="content-title">
          <%= @news.title %>
        </h1>

        <p class="sub-title">
          BY <span class="by"><%= @news.post_by %></span> on <span class="by"><%= @news.post_date.strftime("%d %B %Y") %></span>

          <span class="social">
            <div class="ssk-group" data-url="<%= "#{request.original_url}" %>">
              <p class="shares">
                <i class="fa fa-share-alt"></i> <%= number_to_human(facebook_shares(request.original_url), :format => '%n%u', :units => { :thousand => 'k' }) %>
              </p>
              <a class="ssk ssk-facebook" href=""></a>
              <a class="ssk ssk-twitter" href=""></a>
              <a class="ssk ssk-google-plus" href=""></a>
              <a class="ssk ssk-pinterest" href=""></a>
            </div>
          </span>
        </p>
      </div>

      <div class="col-md-12 cover no-pad">
        <%= image_tag( @news.cover.url ) %>
      </div>

      <div class="col-md-12 show-content">
        <%== @news.content %>
      </div>

      <div class="col-md-12 tags">
        <%= fa_icon 'tags' %>
        <% @news.tags.each do |n| %>
          <span class="label label-dara"><%= n.name %></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="link-title">
        <%= link_to "View All", "/#{@url}", :class => "all" %>
        <%= link_to "BACK TO HOME PAGE", root_path, :class => "back" %>
      </div>
    </div>

 <% if @like_this.count != 0 %>
    <div class="row contents">
      <div class="col-md-12">
        <h3 class="content-title">
          You may also like this
        </h3>
      </div>

<!-- <div class="row"> -->
      <div class="col-md-12">
<!-- ####################################################################################### -->
        <% @like_this.each do |x| %>
        <div class="col-md-4">
          <div class="col-md-12 other-card">
            <div class="row head">
              <p class="title"><%= link_to x.title, "/#{@url}/#{x.id}" %></p>
              <p class="sub-title"> By <%= x.post_by %></p>
            </div>

            <div class="row cover no-pad">

              <%= link_to "/#{@url}/#{x.id}" do %>
                <%= image_tag(x.cover.url(:mini), :class => "card-img") %>
                <% if x.video == true %>
                  <i class="fa fa-play-circle-o is-video is-sm is-inner"></i>
                <% end %>
              <% end %>
            </div>

            <div class="row content-col">
              <p class="content-text">
                <%= truncate( x.teaser,
                      length: 55,
                      separator: ' ',
                      omission: '... ') {
                        link_to "อ่านต่อ", "/#{@url}/#{x.id}"
                    } %>
              </p>
            </div>

            <div class="row foot">
              <span class="social" style="float: left; margin-top: 5px;" >
                <div class="ssk-group" data-url="<%= "#{request.original_url}/#{x.id}" %>" data-text="<%= "#{x.title}" %>">
                  <a class="ssk ssk-facebook ssk-xs" href=""></a>
                  <a class="ssk ssk-twitter ssk-xs" href=""></a>
                  <a class="ssk ssk-google-plus ssk-xs" href=""></a>
                  <a class="ssk ssk-pinterest ssk-xs" href=""></a>
                </div>
              </span>

              <div class="watch"><i class="fa fa-user"></i> <%= number_to_human(x.impressionist_count, :format => '%n%u', :units => { :thousand => 'k' }) %></div>
            </div>

          </div>
        </div>
        <% end %>
<!-- ####################################################################################### -->
      </div>

<!-- </div> -->

    </div>
 <% end %>
  </div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
  <div class="col-md-3 col-sm-3">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <%= link_to image_tag("450.png", :class => "ads") , "#" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <%= link_to image_tag("450_l.png", :class => "ads") , "#" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to image_tag("450.png", :class => "ads") , "#" %>
        </div>
      </div>
    </div>
  </div>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
</div>

<div class="row">
  <%= link_to image_tag("1500_s.png", :class => "ads") , "#" %>
</div>

<script type="text/javascript">
$(document).ready(function () {

// Init Social Share Kit
  SocialShareKit.init();

});
</script>