<!DOCTYPE html>
<html>

  <head>
    <title>Wow2Mouth |
      <%= yield(:title) || "News & Entertainment" %>
    </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=yes">

    <%= display_meta_tags :og => {
        :title    => @tag_title,
        :type     => 'article',
        :url      => @tag_url,
        :image    => @tag_image,
        :description => @tag_des
      } %>
  </head>

  <body>
    <div id="backdrop"></div>

    <div id="allcoderpopup" >
      <h1>Join us on Facebook</h1>
      <div class="htmlarea">
        <div class="fb-page" data-href="https://www.facebook.com/736301666482034" data-width="380" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/736301666482034"><a href="https://www.facebook.com/736301666482034">Wow2mouth</a></blockquote></div></div>
      </div>
      <div id="acfooter">
        Please wait..<span>15</span> Seconds
        <a href="#" id="acclose" onclick="return false;">Cancel</a>
      </div>
    </div>

    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <div id="fb-root"></div>
  </body>

<script type="text/javascript">
  $(document).ready(function () {
    $('#sb-search').addClass('sb-search-open');
    // Init Social Share Kit
    SocialShareKit.init();
  });

  //   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-66077985-1', 'auto');
  // ga('send', 'pageview');

</script>


</html>
